@page "/"
<h1>Counter</h1>


<input  placeholder="torrentLink" @bind-value="torrentLink"/>
<br />
<input placeholder="path" @bind="path"/>
<br />

<button class="btn btn-primary" @onclick="DownloadTorrent">Download Torrent now</button>

<p>@retValue</p>

@code {
    string torrentLink = "";
    string path = "/home/paule/Videos/";
    string retValue = "";
    async Task DownloadTorrent()
    {
        var test = await TorrentDownloaderHandler.DownloadHandler.DownloadTorrentAsync(path, torrentLink);
        retValue = await TorrentDownloaderHandler.DownloadHandler.GetStatus(test);
    }
}
